.banner{
  background-image:
    linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.391)),
    url('https://1.bp.blogspot.com/-ON0pxjuJyBI/ULS2ZVv23jI/AAAAAAAAA00/PQ6l-7acva0/s1600/Madina-_Madina_saudia_Arabia_Hajj.jpeg');
  
    background-size: cover;
    background-position: center;    
    width: 100%;
}

.neon-text {
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  color: #FF0000;
}
  
