@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: clock-font;
  src: url(/clock-font.ttf);
}
.clock_font{
    font-family: clock-font;
}
html {
    scroll-behavior: smooth;
  }
  *{
    box-sizing: border-box;
  }
 
 
  section {
    @apply sm:p-4 p-1;
  }
  body{
   @apply bg-blue-100
    sm:px-2 
  }

  section{
    @apply bg-white p-5 rounded-xl
  }
 .responsive-text1{
  font-weight: bolder;
  font-size: clamp(2rem, 2.3vw, 4rem); 
 }
 .responsive-text2{
  font-weight: bold;
  font-size: clamp(1.5rem, 2vw, 2rem); 
 }
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  
.audio_player{
  height: 100svh;
}
  
  .head_text {
    @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
  }
  .text_pr {
    @apply text-[#0091ff]  leading-[1.15];
  }
  
  .flex-center {
    @apply flex justify-center items-center;
  }
  
  .flex-start {
    @apply flex justify-start items-start;
  }
  
  .flex-end {
    @apply flex justify-end items-center;
  }
  
  .flex-between {
    @apply flex justify-between items-center;
  }
  