@tailwind base;
@tailwind components;
@tailwind utilities;




html {
    scroll-behavior: smooth;
  }
  *{
    box-sizing: border-box;
  }
  
  section {
    @apply mt-10;
  }
  body{
    @apply bg-blue-100
    px-2
  }
  
  section{
    @apply bg-white p-5 rounded-xl
  }
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  
.audio_player{
  height: 100svh;
}
  
  .head_text {
    @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
  }
  .text_pr {
    @apply text-[#0091ff]  leading-[1.15];
  }
  
  .flex-center {
    @apply flex justify-center items-center;
  }
  
  .flex-start {
    @apply flex justify-start items-start;
  }
  
  .flex-end {
    @apply flex justify-end items-center;
  }
  
  .flex-between {
    @apply flex justify-between items-center;
  }
  